.App {
  text-align: center;
}

nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color:rgb(231, 231, 162);
  color:white;

}
.navbar_link {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

 

  





